# dependencies
node_modules/

# build output
.next/
out/
dist/

# debug / log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env
.env.local
.env.*.local

# editor
.vscode/
.idea/

# macOS
.DS_Store

# redis-data
redis-data/